<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        header 

    </header>

    <main class="main">
        <p>main </p>
        <img class="img2" src="../imgs/imagen2.jpeg">

    </main>

    <aside class="right_panel">
        Right Panel 

    </aside>

    <footer class="footer">
        <p> footer </p>
        <img class="img1" src="../imgs/Imagen1.jpeg">

    </footer>

</body>
</html>