.container{
    display: grid;
    grid-template-areas: "head head"
               "menu main" 
               "foot foot";
}
.container{
    grid-row-gap: 50px;
    grid-column-gap: 10px;
    
}
.item1{grid-area: head;background-color: rgb(184, 24, 216);}
.item2{grid-area: menu;background-color: rgb(15, 240, 240);}
.item3{grid-area: main;background-color: rgb(60, 202, 25);}
.item4{grid-area: foot;background-color: rgb(113, 206, 243);}

.container2{
    display: grid;
    grid-template-columns: repeat(2,200px);
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}
.item5{
    background-color: rgb(191, 255, 0);
}
.item6{
    background-color: rgb(0, 255, 162);
}
.item7{
    background-color: rgb(255, 60, 0);
}



