nav{
    background-color:aquamarine;
    display: flex;
    height: 60px;
    justify-content: space-between; /* acomodar hacia un lado*/
}
.nav_menu{
    align-items: center;
    display: flex;
    margin-left: 20px;

}

.iconos{
    align-items: center;
    display: flex;
}
img{
    margin-left: 20px;
    width: 30px;
}
p{
    margin-left: 20px;
}